.advise {
  margin: 0;
  padding: 40px 35px;

  font-family: "Open Sans", "Arial", sans-serif;
}

.advice__text {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: $main-blue;
  text-align: center;
}
