.editor {
  margin: 0;
  padding: 20px;

  background-color: $main-gray;
}

.editor__buttons {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
}

@media (min-width: $tablet-width) {
  .editor {
    display: flex;
    justify-content: space-between;
  }
}
