.form-name {
  display: flex;
  margin: 0;
  padding: 42px 20px;

  font-family: "Open Sans", "Arial", sans-serif;

  border: none;
}

.form-name__label {
  font-size: 14px;
  line-height: 30px;
  color: $main-red;
  text-transform: uppercase;
}

.form-name__input {
  padding: 15px 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $main-blue;

  border: 2px solid $main-gray;
}

@media (min-width: $tablet-width) {
  .form-name__item {
    display: flex;
    align-items: center;
  }

  .form-name__label {
    margin-right: 25px;
  }

  .form-name__input {
    flex-grow: 1;
  }
}
