.price {
  margin: 0;
  padding: 0;
  height: 471px;
  font-family: "Open Sans", "Arial", sans-serif;

  background-color: $main-gray;
}

.price__item-head {
  margin: 0;
  padding: 0 20px;

  background-color: $main-blue;
}

.price__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.price__price-value {
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.price__addition-type {
  margin: 0;
  padding: 0 20px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $main-blue;
  background-color: #ffffff;
}
