.research {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: flex;
    padding: 65px 40px;

    background-color: $main-gray;
  }

  .research__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .research__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }

  .research__link {
    color: $main-red;
  }
}

@media (min-width: $desktop-width) {
  .research__text {
    font-size: 18px;
    line-height: 30px;
  }
}
