.site-list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-color: $main-blue;
  list-style: none;
}

.site-list__link {
  margin: 0;
  padding: 16px 20px;
  display: block;

  color: #ffffff;

  text-decoration: none;
}

.site-list__item {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px #000000;
}


@media (min-width: $desktop-width) {
  .site-list {
    display: flex;

    font-weight: normal;

    background: none;
  }

  .site-list__item {
    box-shadow: none;
  }
}
