@import "variables.scss";
@import "normalize.scss";
@import "scaffolding.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/intro.scss";
@import "blocks/page-main.scss";
@import "blocks/app-download.scss";
@import "blocks/button.scss";
@import "blocks/features.scss";
@import "blocks/research.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/photos-title.scss";
@import "blocks/photos.scss";
@import "blocks/advise.scss";
@import "blocks/editor.scss";
@import "blocks/inner-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/main-form.scss";
@import "blocks/form-name.scss";
@import "blocks/form-achievements.scss";
@import "blocks/form-contacts.scss";
@import "blocks/app-radio-form.scss";
@import "blocks/text-form.scss";
@import "blocks/slider.scss";
@import "blocks/tools.scss";


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
